.header.d-flex.justify-content-between.bg-dark.text-light
	.logo.d-flex
		a.p-3(href="/") LOGO
	.navi-wrap.d-flex.justify-content-between.bg-dark
		.navi BOARD
			.sub-wrap
				.sub
					a.p-3(href="/board/list") List
				.sub
					a.p-3(href="/board/write") write
		.navi MYPAGE
			.sub-wrap
				.sub
					a.p-3(href="/mypage/info") Info
				.sub
					a.p-3(href="/mypage/point") Point
		.navi MEMBER
			.sub-wrap
				.sub
					a.p-3(href="/member/join") Join
				.sub
					a.p-3(href="/member/login") Login
				.sub
					a.p-3(href="/member/logout") Logout