.header.d-flex.justify-content-between.bg-dark.text-light
	.logo.d-flex
		a.p-3(href="/") LOGO
	.navi-wrap.d-flex.justify-content-between.bg-dark
		.navi 
			a(href="/gallery/write") 글작성
		.navi 
			a(href="/gallery/list") 리스트보기